<h1>
  Segundo modulo cargado - interno.component.html!
</h1>
<p>Este falla tanto la carga del JS, y en el caso que funcionara falla el CrossOrigin</p>

<div style="text-align:center">
 
    <button
      data-cleeng-trigger
      data-action="my-account"
      data-display-type="inline"
      data-container-id="my-account-container"
      data-publisher-id="429296420_ES"
      data-completed-callback="cleengCallbackHandler(result)">
      My Account inline
    </button>

    <button (click)="checkoutCleeng()">Click Me!</button>

   

<div id="my-account-container"></div>
  
</div>
  