<!--Ejemplo My Account module integration
<div style="text-align:center">

  <h1>app.component - este debería de funcionar |  falla el crossoring </h1>
    <button
    data-cleeng-trigger
    data-action="my-account"
    data-display-type="overlay"
    data-publisher-id="429296420"
    data-completed-callback="cleengCallbackHandler(result)">
      My Account overflow
    </button>

</div>

<button
    data-cleeng-trigger
    data-action="my-account"
    data-display-type="inline"
    data-container-id="my-account-container"
    data-publisher-id="429296420"
    data-completed-callback="cleengCallbackHandler(result)">
    My Account inline
</button>
<div id="my-account-container"></div>
-->
<div style="text-align:center">
  <button (click)="loadComponenteHijo();">Load</button>
  <app-interno *ngIf="loadComponent"></app-interno>
</div>
  













